# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node
node_modules/
build/
dist/

# Environment variables
.env

# Docker
docker-compose.override.yml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Airflow
airflow/logs/